# Thư mục build tạm của Air (Rất quan trọng!)
/tmp
bin/

# File môi trường chứa thông tin bảo mật (API Key, Database Pass)
.env
*.env

# File cấu hình riêng của hệ điều hành
.DS_Store
Thumbs.db

# Thư mục IDE
.idea/
.vscode/
__debug_bin*